<a href="https://colab.research.google.com/github/YueunKim/Dacon/blob/master/carteen_people_forcast_1_(colab)Dacon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 사용 패키지

In [ ]:
## https://dacon.io/competitions/official/235743/codeshare/2814?page=1&dtype=recent

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor

## 데이터 로드

In [ ]:
train = pd.read_csv('/content/gdrive/MyDrive/dacon/carteen_people/train.csv', encoding = 'utf-8')
test = pd.read_csv('/content/gdrive/MyDrive/dacon/carteen_people/test.csv', encoding = 'utf-8')
submission = pd.read_csv('/content/gdrive/MyDrive/dacon/carteen_people/sample_submission.csv', encoding = 'utf-8')

## 데이터

In [ ]:
train.head()

           일자 요일  ...     중식계    석식계
0  2016-02-01  월  ...  1039.0  331.0
1  2016-02-02  화  ...   867.0  560.0
2  2016-02-03  수  ...  1017.0  573.0
3  2016-02-04  목  ...   978.0  525.0
4  2016-02-05  금  ...   925.0  330.0

[5 rows x 12 columns]

In [ ]:
test.head()

           일자  ...                                           석식메뉴
0  2021-01-27  ...  흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1  2021-01-28  ...            충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2  2021-01-29  ...            흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치
3  2021-02-01  ...           흑미밥 동태탕 돈육꽈리고추장조림 당면채소무침 모자반무침 포기김치
4  2021-02-02  ...       흑미밥 바지락살국 쇠고기청경채볶음 두부구이*볶은김치 머위된장무침 백김치

[5 rows x 10 columns]

In [ ]:
print('train shape:', train.shape, '\n', 'test shape:', test.shape)

train shape: (1205, 12)
 test shape: (50, 10)

In [ ]:
submission.head()

           일자  중식계  석식계
0  2021-01-27    0    0
1  2021-01-28    0    0
2  2021-01-29    0    0
3  2021-02-01    0    0
4  2021-02-02    0    0

In [ ]:
submission.columns = ['date', 'target_ln', 'target_dn']

## 조식메뉴 drop

In [ ]:
train = train.drop('조식메뉴', axis=1)
test = test.drop('조식메뉴', axis=1)

## 컬럼명 수정

In [ ]:
train.columns = ['date', 'dow', 'employees', 'dayoff', 'bustrip', 'ovtime', 'remote', 'ln', 'dn', 'target_ln', 'target_dn']
test.columns = ['date', 'dow', 'employees', 'dayoff', 'bustrip', 'ovtime', 'remote', 'ln', 'dn']

## 날짜, 요일 수정

In [ ]:
def to_datetime(df, date):
    df['date'] = pd.to_datetime(df[date])
    df['dow'] = pd.to_datetime(df[date]).dt.weekday + 1 # dt.weekday는 월요일 = 0 
    
to_datetime(train, 'date')
to_datetime(test, 'date')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1205 non-null   datetime64[ns]
 1   dow        1205 non-null   int64
 2   employees  1205 non-null   int64
 3   dayoff     1205 non-null   int64
 4   bustrip    1205 non-null   int64
 5   ovtime     1205 non-null   int64
 6   remote     1205 non-null   float64
 7   ln         1205 non-null   object
 8   dn         1205 non-null   object
 9   target_ln  1205 non-null   float64
 10  target_dn  1205 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(5), object(2)
memory usage: 103.7+ KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       50 non-null     datetime64[ns]
 1   dow        50 non-null     int64
 2   employees  50 non-null     int64
 3   dayoff     50 non-null     int64
 4   bustrip    50 non-null     int64
 5   ovtime     50 non-null     int64
 6   remote     50 non-null     float64
 7   ln         50 non-null     object
 8   dn         50 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 3.6+ KB

## 수치 데이터만 피쳐로 선택

In [ ]:
x_train = train[['dow', 'employees', 'bustrip', 'ovtime', 'remote']]
y1_train = train['target_ln']
y2_train = train['target_dn']

x_test = test[['dow', 'employees', 'bustrip', 'ovtime', 'remote']]

## 점심과 저녁을 식수 인원을 예측할 2개 모델 생성

In [ ]:
lunch = RandomForestRegressor(n_jobs=-1, random_state=42, criterion='mae')
dinner = RandomForestRegressor(n_jobs=-1, random_state=42, criterion='mae')

## 학습

In [ ]:
lunch.fit(x_train, y1_train)
dinner.fit(x_train, y2_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

## 추론

In [ ]:
pred1 = lunch.predict(x_test)
pred2 = dinner.predict(x_test)

## 결과 제출

In [ ]:
submission['target_ln'] = pred1
submission['target_dn'] = pred2

In [ ]:
submission.columns = ['일자', '중식계', '석식계']

In [ ]:
submission.to_csv('sub_1.csv', index=False, encoding = 'utf-8')

In [ ]:
!pip install dacon_submit_api-0.0.4-py3-none-any.whl

Processing ./dacon_submit_api-0.0.4-py3-none-any.whl
Installing collected packages: dacon-submit-api
Successfully installed dacon-submit-api-0.0.4

In [ ]:
from dacon_submit_api import dacon_submit_api 

result = dacon_submit_api.post_submission_file(
'/content/sub_2.csv', 
'', 
'235743', 
'yuniyuni', 
'첫제출' )

ModuleNotFoundError: ignored