<a href="https://colab.research.google.com/github/YueunKim/Dacon/blob/master/carteen_people_forcast_5_(colab)Dacon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 사용 패키지

In [66]:
## https://dacon.io/competitions/official/235743/codeshare/2856?page=1&dtype=recent
## https://dacon.io/competitions/official/235743/codeshare/2817?page=1&dtype=recent

In [67]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [68]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor

## 데이터 로드

In [69]:
train = pd.read_csv('/content/gdrive/MyDrive/dacon/carteen_people/train.csv', encoding = 'utf-8')
test = pd.read_csv('/content/gdrive/MyDrive/dacon/carteen_people/test.csv', encoding = 'utf-8')
submission = pd.read_csv('/content/gdrive/MyDrive/dacon/carteen_people/sample_submission.csv', encoding = 'utf-8')

## 데이터

In [70]:
train.head()

           일자 요일  ...     중식계    석식계
0  2016-02-01  월  ...  1039.0  331.0
1  2016-02-02  화  ...   867.0  560.0
2  2016-02-03  수  ...  1017.0  573.0
3  2016-02-04  목  ...   978.0  525.0
4  2016-02-05  금  ...   925.0  330.0

[5 rows x 12 columns]

In [71]:
test.head()

           일자  ...                                           석식메뉴
0  2021-01-27  ...  흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1  2021-01-28  ...            충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2  2021-01-29  ...            흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치
3  2021-02-01  ...           흑미밥 동태탕 돈육꽈리고추장조림 당면채소무침 모자반무침 포기김치
4  2021-02-02  ...       흑미밥 바지락살국 쇠고기청경채볶음 두부구이*볶은김치 머위된장무침 백김치

[5 rows x 10 columns]

In [72]:
print('train shape:', train.shape, '\n', 'test shape:', test.shape)

train shape: (1205, 12)
 test shape: (50, 10)

In [73]:
submission.head()

           일자  중식계  석식계
0  2021-01-27    0    0
1  2021-01-28    0    0
2  2021-01-29    0    0
3  2021-02-01    0    0
4  2021-02-02    0    0

In [74]:
submission.columns = ['date', 'target_ln', 'target_dn']

## 조식메뉴 drop

In [75]:
train = train.drop('조식메뉴', axis=1)
test = test.drop('조식메뉴', axis=1)

## 컬럼명 수정

In [76]:
train.columns = ['date', 'dow', 'employees', 'dayoff', 'bustrip', 'ovtime', 'remote', 'ln', 'dn', 'target_ln', 'target_dn']
test.columns = ['date', 'dow', 'employees', 'dayoff', 'bustrip', 'ovtime', 'remote', 'ln', 'dn']

## 날짜, 요일 수정

In [77]:
def to_datetime(df, date):
    df['date'] = pd.to_datetime(df[date])
    df['dow'] = pd.to_datetime(df[date]).dt.weekday + 1 # dt.weekday는 월요일 = 0 
    
to_datetime(train, 'date')
to_datetime(test, 'date')

In [78]:
train['mon'] = pd.DatetimeIndex(train['date']).month
test['mon'] = pd.DatetimeIndex(test['date']).month

train['day'] = pd.DatetimeIndex(train['date']).day
test['day'] = pd.DatetimeIndex(test['date']).day

In [79]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1205 non-null   datetime64[ns]
 1   dow        1205 non-null   int64
 2   employees  1205 non-null   int64
 3   dayoff     1205 non-null   int64
 4   bustrip    1205 non-null   int64
 5   ovtime     1205 non-null   int64
 6   remote     1205 non-null   float64
 7   ln         1205 non-null   object
 8   dn         1205 non-null   object
 9   target_ln  1205 non-null   float64
 10  target_dn  1205 non-null   float64
 11  mon        1205 non-null   int64
 12  day        1205 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(2)
memory usage: 122.5+ KB

In [80]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       50 non-null     datetime64[ns]
 1   dow        50 non-null     int64
 2   employees  50 non-null     int64
 3   dayoff     50 non-null     int64
 4   bustrip    50 non-null     int64
 5   ovtime     50 non-null     int64
 6   remote     50 non-null     float64
 7   ln         50 non-null     object
 8   dn         50 non-null     object
 9   mon        50 non-null     int64
 10  day        50 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 4.4+ KB

#### 휴가자, 재택근무자는 중식/석식에 참여하지 않을 것이므로 본사정원수에서 차감한다.

#### 즉, 본사정원수 - 휴가자 - 재택근무자

#### 식사참여율 = 식사계 / 식사가능자수

In [81]:
train['caneat'] = train['employees'] - train['dayoff'] - train['remote']
test['caneat'] = test['employees'] - test['dayoff'] - test['remote']

train['rate_ln'] = train['target_ln'] / train['caneat']
train['rate_dn'] = train['target_dn'] / train['caneat']

## 피쳐 선택

In [82]:
features = ['mon', 'day', 'dow', 'caneat', 'bustrip', 'ovtime']
labels = ['target_ln',	'target_dn', 'rate_ln', 'rate_dn']

train = train[features+labels]
test = test[features]

In [83]:
train.head()

   mon  day  dow  caneat  ...  target_ln  target_dn   rate_ln   rate_dn
0    2    1    1  2551.0  ...     1039.0      331.0  0.407291  0.129753
1    2    2    2  2551.0  ...      867.0      560.0  0.339867  0.219522
2    2    3    3  2545.0  ...     1017.0      573.0  0.399607  0.225147
3    2    4    4  2497.0  ...      978.0      525.0  0.391670  0.210252
4    2    5    5  2323.0  ...      925.0      330.0  0.398192  0.142058

[5 rows x 10 columns]

In [84]:
test.head()

   mon  day  dow  caneat  bustrip  ovtime
0    1   27    3  2537.0      182       5
1    1   28    4  2531.0      212     409
2    1   29    5  2419.0      249       0
3    2    1    1  2494.0      154     538
4    2    2    2  2548.0      186     455

In [85]:
x = train[['mon', 'day', 'dow', 'caneat', 'bustrip', 'ovtime']]
y_ln = train['target_ln']
y_dn = train['target_dn']

test_x = test[['mon', 'day', 'dow', 'caneat', 'bustrip', 'ovtime']]

## CatBoost

In [86]:
!pip3 install catboost

from catboost import CatBoostRegressor

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (0.26)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)

In [87]:
# cat_lunch = CatBoostRegressor()
# cat_dinner = CatBoostRegressor()

# cat_lunch = CatBoostRegressor( depth=10, n_estimators = 200 )
# cat_dinner = CatBoostRegressor( depth=10, n_estimators = 200 )

cat_lunch = CatBoostRegressor( depth=10, n_estimators = 20 )
cat_dinner = CatBoostRegressor( depth=10, n_estimators = 20 )

cat_lunch.fit(x, y_ln,verbose=False, plot=True)
cat_dinner.fit(x, y_dn,verbose=False, plot=True)

pred_lunch = cat_lunch.predict(test_x)
pred_dinner = cat_dinner.predict(test_x)

submission['target_ln'] = pred_lunch
submission['target_dn'] = pred_dinner

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

## 결과 제출

In [88]:
submission.columns = ['일자', '중식계', '석식계']

In [89]:
submission.to_csv('sub_7.csv', index=False, encoding = 'utf-8')

In [90]:
!pip install dacon_submit_api-0.0.4-py3-none-any.whl

Processing ./dacon_submit_api-0.0.4-py3-none-any.whl
dacon-submit-api is already installed with the same version as the provided wheel. Use --force-reinstall to force an installation of the wheel.

In [91]:
from dacon_submit_api import dacon_submit_api 

result = dacon_submit_api.post_submission_file(
'/content/sub_7.csv', 
'', 
'235743', 
'yuniyuni',
'CatBoost 사용, 파라미터 조정 ' )

{'isSubmitted': True, 'detail': 'Success'}